@using Meridian_Web.Areas.Client.ViewModels.Wishlist;
@model List<WishlistProductCookieVIewModel>

@foreach (var product in Model)
{

    <div class="w-r u-s-m-b-30">
        <div class="w-r__container">
            <div class="w-r__wrap-1">
                <div class="w-r__img-wrap">

                    <img class="u-img-fluid" src="~/@product.ImageUrl" alt="">
                </div>
                <div class="w-r__info">

                    <span class="w-r__name">

                        <a href="product-detail.html">@product.Title</a>
                    </span>


                    @if (product.DiscountPrice != null)
                    {
                        <span class="product-o__price">


                            $@product.DiscountPrice

                            <span class="product-o__discount">@product.Price</span>
                        </span>

                    }
                    else
                    {
                        <span class="product-o__price">


                            $@product.Price


                        </span>
                    }
                </div>
            </div>
            <div class="w-r__wrap-2">

                <a class="w-r__link btn--e-brand-b-2 add-product-to-basket-btn" asp-route="client-basket-add" asp-route-id="@product.Id">ADD TO CART</a>

                <a class="w-r__link btn--e-transparent-platinum-b-2" asp-route="client-productdetails-index" asp-route-id="@product.Id">VIEW</a>

                <a class="w-r__link btn--e-transparent-platinum-b-2" asp-route="client-wishlist-delete" asp-route-id="@product.Id">REMOVE</a>
            </div>
        </div>
    </div>
}
