@using Meridian_Web.Areas.Client.ViewModels.About;
@model AboutViewModel
<div class="app-content">

    <!--====== Section 1 ======-->
    <!--====== End - Section 1 ======-->
    <!--====== Section 2 ======-->
    <div class="u-s-p-b-60">

        <!--====== Section Content ======-->
        <div class="section__content">
            <div class="container">
                <div class="row">

                    @foreach (var about in Model.Abouts)
                    {
                        <div class="col-lg-12">
                            <div class="about">
                                <div class="about__container">
                                    <div class="about__info">
                                        <h2 class="about__h2">@about.Title</h2>
                                        <div class="about__p-wrap">
                                            <p class="about__p">@about.Description</p>
                                        </div>

                                        <a class="about__link btn--e-secondary" href="index.html" target="_blank">Shop Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    }
                </div>
            </div>
        </div>
        <!--====== End - Section Content ======-->
    </div>
    <!--====== End - Section 2 ======-->
    <!--====== Section 3 ======-->
    <div class="u-s-p-b-60">

        <!--====== Section Intro ======-->
        <div class="section__intro u-s-m-b-46">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section__text-wrap">
                            <h1 class="section__heading u-c-secondary">Our Team Members</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--====== End - Section Intro ======-->
        <!--====== Section Content ======-->
        <div class="section__content">
            <div class="container">
                <div class="row">
                    @foreach (var teamMember in Model.OurTeamMembers)
                    {
                        <div class="col-lg-3 col-md-4 col-sm-6 u-s-m-b-30">
                            <div class="team-member u-h-100">
                                <div class="team-member__wrap">
                                    <div class="aspect aspect--bg-grey-fb aspect--square">

                                        <img class="aspect__img team-member__img" src="~/@teamMember.ImgUrl" alt="">
                                    </div>
                                    <div class="team-member__social-wrap">
                                        <ul class="team-member__social-list">
                                            <li>

                                                <a class="s-tw--bgcolor-hover" href="#"><i class="fab fa-twitter"></i></a>
                                            </li>
                                            <li>

                                                <a class="s-fb--bgcolor-hover" href="#"><i class="fab fa-facebook-f"></i></a>
                                            </li>
                                            <li>

                                                <a class="s-insta--bgcolor-hover" href="#"><i class="fab fa-instagram"></i></a>
                                            </li>
                                            <li>

                                                <a class="s-linked--bgcolor-hover" href="#"><i class="fab fa-linkedin"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="team-member__info">

                                    <span class="team-member__name">@teamMember.FullName</span>

                                    <span class="team-member__job-title">@teamMember.Position</span>
                                </div>
                            </div>
                        </div>
                    }


                </div>
            </div>
        </div>
        <!--====== End - Section Content ======-->
    </div>
    <!--====== End - Section 3 ======-->
    <!--====== Section 4 ======-->
    <div class="u-s-p-b-90 u-s-m-b-30">

        <!--====== Section Intro ======-->
        <div class="section__intro u-s-m-b-46">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section__text-wrap">
                            <h1 class="section__heading u-c-secondary u-s-m-b-12">CLIENTS FEEDBACK</h1>

                            <span class="section__span u-c-silver">WHAT OUR CLIENTS SAY</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--====== End - Section Intro ======-->
        <!--====== Section Content ======-->
        <div class="section__content">
            <div class="container">

                <!--====== Testimonial Slider ======-->
                <div class="slider-fouc">
                    <div class="owl-carousel" id="testimonial-slider">
                        @foreach (var feedBack in Model.FeedBacks)
                        {
                            <div class="testimonial">
                                <div class="testimonial__img-wrap">

                                    <img class="testimonial__img" src="~/@feedBack.ImgUrl" alt="">
                                </div>
                                <div class="testimonial__content-wrap">

                                    <span class="testimonial__double-quote"><i class="fas fa-quote-right"></i></span>
                                    <blockquote class="testimonial__block-quote">
                                        <p>"@feedBack.Context"</p>
                                    </blockquote>

                                    <span class="testimonial__author">@feedBack.FullName / @feedBack.Role</span>
                                </div>
                            </div>

                        }

                    </div>
                </div>
                <!--====== End - Testimonial Slider ======-->
            </div>
        </div>
        <!--====== End - Section Content ======-->
    </div>
    <!--====== End - Section 4 ======-->
</div>