@using Meridian_Web.Areas.Client.ViewComponents
@using Meridian_Web.Areas.Client.ViewModels.Home
@model HomeViewModel

<div class="app-content" style="background-color:#FAFAFA">

    <div class="s-skeleton s-skeleton--h-600 s-skeleton--bg-grey">
        <div class="owl-carousel primary-style-1" id="hero-slider">

            @foreach (var slider in Model.Sliders)
            {
                <div class="hero-slide hero-slide--1">
                    <img class="primary-slider " src="~/@slider.ImageUrl" alt="">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="slider-content slider-content--animation">
                                    <span class="content-span-1 u-c-secondary">@slider.Title</span>

                                    <span class="content-span-2 u-c-secondary">@slider.OfferContext</span>

                                    <span class="content-span-3 u-c-secondary">@slider.Content</span>

                                    <span class="content-span-4 u-c-secondary">
                                        Starting At

                                        <span class="u-c-brand">@slider.StartPrice</span>
                                    </span>

                                    <a class="shop-now-link btn--e-brand" href="@slider.BtnRedirectUrl">@slider.ButtonName</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            }


        </div>
    </div>




    <!--====== Section 1 ======-->
    <div class="u-s-p-y-60">

        <!--====== Section Intro ======-->
        <div class="section__intro u-s-m-b-46">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section__text-wrap">
                            <h1 class="section__heading u-c-secondary u-s-m-b-12">SHOP BY DEALS</h1>

                            <span class="section__span u-c-silver">BROWSE FAVOURITE DEALS</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--====== End - Section Intro ======-->
        <!--====== Section Content ======-->
        <div class="section__content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-md-5 u-s-m-b-30">

                        <a class="collection" href="shop-side-version-2.html">
                            <div class="aspect aspect--bg-grey aspect--square">

                                <img class="aspect__img collection__img" src="~/client/assets/images/collection/newitemswi ns-1000x1000.jpg" alt="">
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-7 col-md-7 u-s-m-b-30">

                        <a class="collection" href="shop-side-version-2.html">
                            <div class="aspect aspect--bg-grey aspect--1286-890">

                                <img class="aspect__img collection__img" src="~/client/assets/images/collection/CZwLrcru2FJ93VHV-e1457406674817-1024x481.jpg" alt="">
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-7 col-md-7 u-s-m-b-30">

                        <a class="collection" href="shop-side-version-2.html">
                            <div class="aspect aspect--bg-grey aspect--1286-890">

                                <img class="aspect__img collection__img" src="~/client/assets/images/collection/78.jpg" alt="">
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-5 col-md-5 u-s-m-b-30">

                        <a class="collection" href="shop-side-version-2.html">
                            <div class="aspect aspect--bg-grey aspect--square">

                                <img class="aspect__img collection__img" src="~/client/assets/images/collection//ge-catalog-products-VT-00000278-2-1000x1000.jpg" alt="">
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!--====== Section Content ======-->
    </div>
    <!--====== End - Section 1 ======-->
    <!--====== Section 2 ======-->
    <div class="u-s-p-b-60">

        <!--====== Section Intro ======-->
        <div class="section__intro u-s-m-b-16">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section__text-wrap">
                            <h1 class="section__heading u-c-secondary u-s-m-b-12">TOP TRENDING</h1>

                            <span class="section__span u-c-silver">CHOOSE CATEGORY</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--====== End - Section Intro ======-->
        <!--====== Section Content ======-->
        <div class="section__content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="filter-category-container">
                            <div class="filter__category-wrapper">

                                <button class="btn filter__btn filter__btn--style-1 js-checked" type="button" data-filter="*">ALL</button>
                            </div>
                            <div class="filter__category-wrapper">

                                <button class="btn filter__btn filter__btn--style-1" type="button" data-filter=".MEN">MEN</button>
                            </div>
                            <div class="filter__category-wrapper">

                                <button class="btn filter__btn filter__btn--style-1" type="button" data-filter=".WOMEN">WOMEN</button>
                            </div>
                            <div class="filter__category-wrapper">

                                <button class="btn filter__btn filter__btn--style-1" type="button" data-filter=".WALLET">WALLET</button>
                            </div>
                            <div class="filter__category-wrapper">

                                <button class="btn filter__btn filter__btn--style-1" type="button" data-filter=".GLASSES">GLASSES</button>
                            </div>
                        </div>
                        <div class="filter__grid-wrapper u-s-m-t-30">
                            <div class="row">
                                @await Component.InvokeAsync(nameof(ProductViewComponent))

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="load-more">

                            <button class="btn btn--e-brand" type="button">Load More</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--====== End - Section Content ======-->
    </div>
    <!--====== End - Section 2 ======-->
    <!--====== Section 3 ======-->
    <div class="u-s-p-b-60">

        <!--====== Section Intro ======-->
        <div class="section__intro u-s-m-b-46">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section__text-wrap">
                            <h1 class="section__heading u-c-secondary u-s-m-b-12">DEAL OF THE DAY</h1>

                            <span class="section__span u-c-silver">BUY DEAL OF THE DAY, HURRY UP! THESE NEW PRODUCTS WILL EXPIRE SOON.</span>

                            <span class="section__span u-c-silver">ADD THESE ON YOUR CART.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--====== End - Section Intro ======-->
        <!--====== Section Content ======-->
        <div class="section__content">
            <div class="container">
                <div class="row">

                    @await Component.InvokeAsync(nameof(DiscountProductViewComponent))

                </div>
            </div>
        </div>
        <!--====== End - Section Content ======-->
    </div>
    <!--====== End - Section 3 ======-->
    <!--====== Section 4 ======-->
    <div class="u-s-p-b-60">

        <!--====== Section Intro ======-->
        <div class="section__intro u-s-m-b-46">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section__text-wrap">
                            <h1 class="section__heading u-c-secondary u-s-m-b-12">NEW ARRIVALS</h1>

                            <span class="section__span u-c-silver">GET UP FOR NEW ARRIVALS</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--====== End - Section Intro ======-->
        <!--====== Section Content ======-->
        <div class="section__content">
            <div class="container">
                @await Component.InvokeAsync(nameof(NewProductViewComponent))
            </div>
        </div>
        <!--====== End - Section Content ======-->
    </div>
    <!--====== End - Section 4 ======-->
    <!--====== Section 5 ======-->
    <div class="banner-bg">

        <!--====== Section Content ======-->
        <div class="section__content">
            <div class="container">
                <div class="row">
                    @foreach (var globalOffer in Model.GlobalOffers)
                    {

                        <div class="col-lg-12">
                            <div class="banner-bg__countdown">
                                <div class="countdown countdown--style-banner" data-countdown="@globalOffer.OfferTime.ToString("yyyy/MM/dd").Replace(".","-")"></div>
                            </div>
                            <div class="banner-bg__wrap">
                                <div class="banner-bg__text-1">

                                    <span class="u-c-white">@globalOffer.Title</span>


                                </div>
                                <div class="banner-bg__text-2">

                                    <span class="u-c-secondary">@globalOffer.MainContext</span>


                                </div>

                                <span class="banner-bg__text-block banner-bg__text-3 u-c-secondary">@globalOffer.Context</span>

                                <a class="banner-bg__shop-now btn--e-secondary" href="shop-side-version-2.html">@globalOffer.ButtonContext</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <!--====== End - Section Content ======-->
    </div>
    <!--====== End - Section 5 ======-->
    <!--====== Section 6 ======-->
    <div class="u-s-p-y-60">

        <!--====== Section Intro ======-->
        <div class="section__intro u-s-m-b-46">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section__text-wrap">
                            <h1 class="section__heading u-c-secondary u-s-m-b-12">FEATURED PRODUCTS</h1>

                            <span class="section__span u-c-silver">FIND NEW FEATURED PRODUCTS</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--====== End - Section Intro ======-->
        <!--====== Section Content ======-->
        <div class="section__content">
            <div class="container">
                <div class="row">
                    @await Component.InvokeAsync(nameof(SortByOrderProductViewComponent))
                </div>
            </div>
        </div>
        <!--====== End - Section Content ======-->
    </div>
    <!--====== End - Section 6 ======-->
    <!--====== Section 7 ======-->
    <div class="u-s-p-b-60">

        <!--====== Section Content ======-->
        <div class="section__content">
            <div class="container">
                <div class="row">
                    @foreach (var banner in Model.Banners)
                    {
                        <div class="col-lg-4 col-md-4 col-sm-6 u-s-m-b-30">

                            <a class="promotion" href="shop-side-version-2.html">
                                <div class="aspect aspect--bg-grey aspect--square">

                                    <img class="aspect__img promotion__img" src="~/@banner.ImageUrl" alt="">
                                </div>
                                <div class="promotion__content">
                                    <div class="promotion__text-wrap">
                                        <div class="promotion__text-1">

                                            <span class="u-c-secondary">@banner.Title</span>
                                        </div>
                                        <div class="promotion__text-2">

                                            <span class="u-c-secondary">@banner.MainContext</span>

                                            <span class="u-c-brand">@banner.Context</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>

                    }

                </div>
            </div>
        </div>
        <!--====== End - Section Content ======-->
    </div>
    <!--====== End - Section 7 ======-->
    <!--====== Section 9 ======-->
    <div class="u-s-p-b-60">

        <!--====== Section Content ======-->
        <div class="section__content">
            <div class="container">
                <div class="row">
                    @foreach (var payment in Model.PaymentBenefits)
                    {
                        <div class="col-lg-4 col-md-6 u-s-m-b-30">
                            <div class="service u-h-100">
                                <div class="service__icon">
                                    <img style="width:100%" src="~/@payment.ImageUrl" alt="">
                                </div>
                                <div class="service__info-wrap">

                                    <span class="service__info-text-1">@payment.Title</span>

                                    <span class="service__info-text-2">@payment.Context</span>
                                </div>
                            </div>
                        </div>

                    }

                </div>
            </div>
        </div>
        <!--====== End - Section Content ======-->
    </div>
    <!--====== End - Section 9 ======-->
    <!--====== Section 10 ======-->
    <div class="u-s-p-b-60">

        <!--====== Section Intro ======-->
        <div class="section__intro u-s-m-b-46">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section__text-wrap">
                            <h1 class="section__heading u-c-secondary u-s-m-b-12">LATEST FROM BLOG</h1>

                            <span class="section__span u-c-silver">START YOU DAY WITH FRESH AND LATEST NEWS</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--====== End - Section Intro ======-->
        <!--====== Section Content ======-->
        <div class="section__content">
            <div class="container">
                <div class="row">
                    @foreach(var blog in Model.Blogs)
                    {
                      <div class="col-lg-4 col-md-6 u-s-m-b-30">
                        <div class="bp-mini bp-mini--img u-h-100">
                            <div class="bp-mini__thumbnail">

                                <!--====== Image Code ======-->

                                <a class="aspect aspect--bg-grey aspect--1366-768 u-d-block" href="blog-detail.html">

                                    <img class="aspect__img" src="~/@blog.ImageUrl" alt="">
                                </a>
                                <!--====== End - Image Code ======-->
                            </div>
                            <div class="bp-mini__content">
                                <div class="bp-mini__stat">

                                    <span class="bp-mini__stat-wrap">

                                        <span class="bp-mini__publish-date">

                                            <a>

                                                <span>@blog.CreatedAt</span>
                                            </a>
                                        </span>
                                    </span>



                                </div>


                                <span class="bp-mini__h1">

                                    <a href="blog-detail.html">@blog.Title</a>
                                </span>
                                <p class="bp-mini__p">@blog.Description</p>
                                <div class="blog-t-w">

                                        @foreach(var tag in blog.Tags)
                                        {
                                            
                                         <a class="gl-tag btn--e-transparent-hover-brand-b-2">@tag.Tagname</a>
                                        }

                                  
                                </div>
                            </div>
                        </div>
                    </div>
                        
                    }
                    
                </div>
            </div>
        </div>
        <!--====== End - Section Content ======-->
    </div>
    <!--====== End - Section 10 ======-->
    <!--====== Section 11 ======-->
    <div class="u-s-p-b-90 u-s-m-b-30">

        <!--====== Section Intro ======-->
        <div class="section__intro u-s-m-b-46">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section__text-wrap">
                            <h1 class="section__heading u-c-secondary u-s-m-b-12">CLIENTS FEEDBACK</h1>

                            <span class="section__span u-c-silver">WHAT OUR CLIENTS SAY</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--====== End - Section Intro ======-->
        <!--====== Section Content ======-->
        <div class="section__content">
            <div class="container">

                <!--====== Testimonial Slider ======-->
                <div class="slider-fouc">
                    <div class="owl-carousel" id="testimonial-slider">
                        <div class="testimonial">
                            <div class="testimonial__img-wrap">

                                <img class="testimonial__img" src="~/client/assets/images/about/145204168_424534149846171_358830259671303374_n.jpg" alt="">
                            </div>
                            <div class="testimonial__content-wrap">

                                <span class="testimonial__double-quote"><i class="fas fa-quote-right"></i></span>
                                <blockquote class="testimonial__block-quote">
                                    <p>"Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean."</p>
                                </blockquote>

                                <span class="testimonial__author">John D. / DVNTR Inc.</span>
                            </div>
                        </div>
                        <div class="testimonial">
                            <div class="testimonial__img-wrap">

                                <img class="testimonial__img" src="~/client/assets/images/about/85a0d1e7-95fd-4eb2-b3fe-6436953717c5.jpg" alt="">
                            </div>
                            <div class="testimonial__content-wrap">

                                <span class="testimonial__double-quote"><i class="fas fa-quote-right"></i></span>
                                <blockquote class="testimonial__block-quote">
                                    <p>"Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean."</p>
                                </blockquote>

                                <span class="testimonial__author">John D. / DVNTR Inc.</span>
                            </div>
                        </div>
                        <div class="testimonial">
                            <div class="testimonial__img-wrap">

                                <img class="testimonial__img" src="~/client/assets/images/about/91a4fe8b-4bd0-4d56-89ed-1266cd21d346.jpg" alt="">
                            </div>
                            <div class="testimonial__content-wrap">

                                <span class="testimonial__double-quote"><i class="fas fa-quote-right"></i></span>
                                <blockquote class="testimonial__block-quote">
                                    <p>"Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean."</p>
                                </blockquote>

                                <span class="testimonial__author">John D. / DVNTR Inc.</span>
                            </div>
                        </div>
                        <div class="testimonial">
                            <div class="testimonial__img-wrap">

                                <img class="testimonial__img" src="~/client/assets/images/about/91a4fe8b-4bd0-4d56-89ed-1266cd21d346.jpg" alt="">
                            </div>
                            <div class="testimonial__content-wrap">

                                <span class="testimonial__double-quote"><i class="fas fa-quote-right"></i></span>
                                <blockquote class="testimonial__block-quote">
                                    <p>"Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean."</p>
                                </blockquote>

                                <span class="testimonial__author">John D. / DVNTR Inc.</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!--====== End - Testimonial Slider ======-->
            </div>
        </div>
        <!--====== End - Section Content ======-->
    </div>
    <!--====== End - Section 11 ======-->
    <!--====== Section 12 ======-->
    <div class="u-s-p-b-60">

        <!--====== Section Content ======-->
        <div class="section__content">
            <div class="container">

                <!--====== Brand Slider ======-->
                <div class="slider-fouc">
                    <div class="owl-carousel" id="brand-slider" data-item="5">
                        <div class="brand-slide" style="height:120px;">

                            <a href="shop-side-version-2.html">

                                <img src="~/client/assets/images/brand/58252-100x100.png" alt="">
                            </a>
                        </div>
                        <div class="brand-slide">

                            <a href="shop-side-version-2.html">

                                <img src="~/client/assets/images/brand/bigot9ti-logo-100x100.png" alt="">
                            </a>
                        </div>
                        <div class="brand-slide">

                            <a href="shop-side-version-2.html">

                                <img src="~/client/assets/images/brand/casio-100x100.png" alt="">
                            </a>
                        </div>
                        <div class="brand-slide">

                            <a href="shop-side-version-2.html">

                                <img src="~/client/assets/images/brand/CRRJU-100x100.png" alt="">
                            </a>
                        </div>
                        <div class="brand-slide">

                            <a href="shop-side-version-2.html">

                                <img src="~/client/assets/images/brand/curren-100x100.png" alt="">
                            </a>
                        </div>
                        <div class="brand-slide">

                            <a href="shop-side-version-2.html">

                                <img src="~/client/assets/images/brand/edifice-100x100.png" alt="">
                            </a>
                        </div>
                    </div>
                </div>
                <!--====== End - Brand Slider ======-->
            </div>
        </div>
        <!--====== End - Section Content ======-->
    </div>
    <!--====== End - Section 12 ======-->
</div>
