@using Meridian_Web.Areas.Admin.ViewModels.Tag


@model List<ListItemViewModel>

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title mt-5">Product Tags</h4>
            <a asp-route="admin-tag-add" class="btn btn-danger btn-lg mb-5 m">Add new Tag</a>
            <div class="table-responsive">
                <table class="table table-dark">
                    <thead>
                        <tr>
                            <th>Tag</th>
                            <th>Created</th>
                            <th>Updated</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var tag in Model)
                        {
                            <tr>
                                <td>@tag.TagName</td>
                                <td>@tag.CreatedAt</td>
                                <td>@tag.UpdatedAt</td>
                                <td class="text-end">
                                    <a asp-route="admin-tag-update" asp-route-id="@tag.Id" class="btn-outline-secondary p-3">Update</a>

                                    <form class="d-none" method="POST" asp-route="admin-tag-delete" asp-route-id="@tag.Id" id="delete-@tag.Id">
                                    </form>

                                    <button type="submit" form="delete-@tag.Id" class="btn-outline-danger p-3">Delete</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

